* {
  color: #545f7d;
  font-family: 'Work-Sans';
}

.main-content-wrapper {
  padding-top: 80px;
  background-color: #fbfbfb !important;
}

.content-wrapper {
  margin-top: 70px;
  margin-left: 250px;
}

.content-wrapper2 {
  margin-left: 0px;
  margin-top: 70px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .right-nav-section {
    display: flex;
    gap: 20px;
    justify-self: end;
    align-items: center;

    #basic-button {
      border-radius: 50%;
    }

    .sm-avatar {
      display: none;
    }

    .docs-text {
      font-size: 16px;
      color: #213f7d;
      text-decoration: underline;
    }

    .username-text {
      color: #213f7d;
      font-size: 14px;
    }
  }

  .search-wrapper {
    display: flex;
    button {
      border: 0px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      padding: 10px 25px;
      color: #ffffff;

      background-color: #39cdcc;
    }
    input {
      padding: 8px 20px;
      font-size: 14px;
      color: rgba(84, 95, 125, 0.7);
      border: 1px solid rgba(84, 95, 125, 0.7);

      width: 400px;
      border-bottom-left-radius: 8px;
      border-top-left-radius: 8px;
    }
  }
}

.card-item {
  text-align: left;
  background-color: #ffffff;

  h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #213f7d;
  }

  p {
    margin-top: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #545f7d;
  }
}

.dashboard-template-wrapper {
  .MuiPaper-root {
    background: #ffffff;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  }

  .MuiToolbar-root {
    background-color: #ffffff !important;
    box-shadow: none !important;
  }
}

.viewer-btn {
  float: right !important;
  padding: 0px;
}

#filter-menu {
  .menu-item-wrapper {
    .item-input-wrapper {
      .select-item {
        width: 100%;
        padding: 2px;
        padding-left: 10px;
        margin-bottom: 15px;
        font-size: 13px;

        .MuiSelect-select {
          padding: 7px !important;
        }

        .menu-content-item {
          padding: 7px !important;
        }

        .placerholder {
          font-size: 13px;
          color: #ced4da;
          padding: 7px !important;
        }
      }

      label {
        font-size: 12px;
      }

      input {
        font-size: 13px;
        margin-bottom: 15px;
      }
    }

    .filter-btn-wrapper {
      display: flex;
      gap: 10px;

      button {
        font-size: 13px;
        padding: 4px 25px;
      }

      button:nth-child(2) {
        background-color: #39cdcc;
        border: 1px solid #39cdcc;
        border-radius: 5px;
        color: #ffffff;
      }

      button:nth-child(1) {
        background-color: #ffffff;
        border: 1px solid #39cdcc;
        border-radius: 5px;
      }
    }
  }
}

.table-container {
  * {
    color: #545f7d;
  }
}

.table-pagination-wrapper {
  .MuiToolbar-root {
    align-items: baseline;
  }
}

.pagination-wrapper {
  .Mui-selected {
    background-color: none !important;
    color: #545f7d !important;
  }
  .MuiPaginationItem-root:hover {
    background-color: none !important;
  }
}

.MuiChip-label {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.table-cell-text {
  font-size: 12px;
  padding: 10px !important;
}

.table-header {
  font-weight: 600;
  font-size: 10px;
  color: #545f7d;
  text-transform: uppercase;
}

.chip-text {
  font-size: 10px;
  padding: 0px 5px 0px 5px !important;
}

@media screen and (max-width: 1046px) {
  .nav-header {
    .right-nav-section {
      display: flex;
      gap: 20px;
      justify-self: end;
      align-items: center;

      .docs-text {
        font-size: 12px;
      }

      .username-text {
        font-size: 10px;
      }
    }

    .search-wrapper {
      input {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .nav-header {
    align-items: center;
    padding-top: 15px;

    .right-nav-section {
      .lg-avatar {
        display: none;
      }

      .sm-avatar {
        display: flex;
      }

      .notify-bell {
        display: none;
      }

      .docs-text {
        display: none;
      }

      .username-text {
        display: none;
      }
    }
  }
}
